---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AI Tools — Discover the potential of AI tools to transform the way you work and earn new income',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Register Now', href: 'https://github.com/onwidget/astrowind'}}
    callToAction2={{ text: 'Learn more', href: '#features' }}    
  >
    <Fragment slot="title">
      Unlock new potential: <span>Create new income with <span class="text-accent dark:text-white highlight">AI</span> & transform the way you work</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
         Explore how <span class="font-semibold">ChatGPT</span> and various AI-powered tools can significantly enhance your work and business efficiency & productivity!</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <!-- <Note /> -->
  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="About the Course"
    title="What you will learn"
    subtitle="Join me in a transformational journey as I provide firsthand insights into AI tools that have revolutionized the way I work."
    items={[
      {
        title: 'ChatGPT',
        description:
          'ChatGPT is like a computer that you can talk to. It generates new content based on your input. It can be used to write stories, poetry, news articles, and more.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Leonardo.ai',
        description:
          'Leonardo.ai is an AI-powered tool that can generate high-quality images from text. It can be used to create images for your blog posts, social media posts, and more.',
        icon: 'tabler:components',
      },
      {
        title: 'Midjourney',
        description:
          'Midjourney is an AI-powered tool that can generate high-quality images from text. It can be used to create images for your blog posts, social media posts, and more.',
        icon: 'tabler:list-check',
      },
      {
        title: 'ElevenLabs',
        description:
          'ElevenLabs is an AI tool to generate audio from text. It can be used to create audio for your videos and more.',
        icon: 'tabler:rocket',
      }
    ]}
  />

  <Features
    id="features"
    title="Who Should Attend this Course?"
    subtitle=""
    items={[
      {
        title: 'Enthusiasts',
        description:
          'Enthusiasts who want to learn about AI tools and how they can be used to enhance their work and business efficiency.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Marketing Professionals',
        description:
          'Marketing professionals who would like to explore AI tools to create new contant.',
        icon: 'tabler:components',
      },
      {
        title: 'Content Creators',
        description:
          'Content Creators who would like to explore AI tools speed up content creation.',
        icon: 'tabler:list-check',
      },
      {
        title: 'IT Professionals',
        description:
          'IT Professionals who would like to explore how AI tools can assist in their work as well as speed up learning.',
        icon: 'tabler:rocket',
      }
    ]}
  />


  <!-- Content Widget **************** -->

  
  <!-- Content Widget **************** -->

  <Content
  isReversed
  isAfterContent
  items={[
    {
      title: 'Unlock the Power of AI Tools',
      description: 'Learn how to harness the capabilities of AI tools to streamline your work processes and boost productivity.',
    },
    {
      title: 'Efficiency Through Automation',
      description: 'Discover how to automate repetitive tasks using AI, allowing you to focus on high-value activities that drive results.',
    },
    {
      title: 'Insights from Real-World Experience',
      description: 'Gain firsthand insights from my journey of integrating AI tools, including the challenges faced and lessons learned.',
    },
    {
      title: 'Strategies for Increased Income Potential',
      description: 'Explore strategies to leverage AI tools in ways that have the potential to significantly impact your income over time.',
    },
    {
      title: 'Navigate the AI Landscape Confidently',
      description: 'Get a clear understanding of different AI technologies, their applications, and how to choose the right tools for your needs.',
    },
  ]}
  image={{
    src: import('~/assets/images/vintage.jpg'),
    alt: 'Vintage Image',
  }}
/>


  <!-- Steps Widget ****************** -->

  <Steps
    title="Get started with AI Tools!"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Explore AI Tools</span>',
      description:
        'Discover a range of AI tools available for various tasks. Learn about their capabilities and potential benefits for your workflow.',
      icon: 'tabler:search',
      },
      {
      title: 'Step 2: <span class="font-medium">Identify Opportunities</span>',
      description:
        'Identify areas in your workflow where AI tools can automate repetitive tasks, allowing you to free up time for higher-value activities.',
      icon: 'tabler:target',
    },
    {
      title: 'Step 3: <span class="font-medium">Select the Right Tools</span>',
      description:
        'Dive deeper into the AI landscape and choose tools that align with your specific needs and goals. Understand the features and benefits of each tool.',
      icon: 'tabler:tools',
    },
    {
      title: 'Step 4: <span class="font-medium">Boost Productivity and Create New Income</span>',
      description:
        'Leverage AI tools to boost productivity through streamlined workflows, creating opportunities for new income streams by channeling saved time and enhanced efficiency into innovative projects and services.',
      icon: 'tabler:tools',
    },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

 

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Attendees', amount: '12K' },
      { title: 'New Income Generated', amount: '$250K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Resgister Now',
      href: 'https://github.com/onwidget/astrowind',
    }}
  >
    <Fragment slot="title">
      Unlock your earning potential with AI
    </Fragment>

    <Fragment slot="subtitle">
      Don't miss this incredible opportunity to harness the power of AI tools and transform your productivity. Unlock the door to new income streams!
    </Fragment>
  </CallToAction>
</Layout>
